<!doctype html>
{% load static %}
<html lang="vi" data-layout="vertical" data-topbar="light" data-sidebar="light" data-sidebar-size="lg"
      data-sidebar-image="none">

<head>
    <!-- get the required files from 3rd party sources -->
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif !important;
            background-color: rgba(0, 0, 0, 0.022) !important;
            box-sizing: border-box;
        }
    </style>
    <meta charset="utf-8"/>
    <title>UI UX</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="UI UX" name="description"/>
    <!-- App favicon -->
    <link rel="shortcut icon" href="https://www.pinterest.com/pin/637751997205907375/">
    <!-- Bootstrap Css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="../../static/thiethv/css/total.css">
</head>

<body>

<!-- Begin page -->
<div id="vm-library-ui-ux">
    <vm-top-header></vm-top-header>
    <div>
        <loading-data></loading-data>
    </div>
    <div class="w-100 row m-0" style="min-height: 750px; background-color: #fff;">
        <div class="col-xl-7 p-3">
            <div class="row h-100 p-3">
                <div class="col d-flex align-items-center me-2"
                     style="height: 125px;border: 1px solid rgb(235,230,230); border-radius: 8px">
                    <div class="position-relative">
                        <img ref="preViewLogo1" src="../../static/thiethv/images/Logo.png" alt="logo1"
                             style="height: 110px; width: 110px;object-fit: cover;border-radius: 50%;border: 1px solid rgb(235,230,230);">
                        <div class="position-absolute" style="background-color: #cccc;height: 25px;width: 25px;
                        bottom: 5px;right: 5px;border-radius: 50%;">
                            <div class="position-relative d-flex justify-content-center align-items-center">
                                <i class="bi bi-camera-fill"></i>
                                <input @change="handleChangeLogo" class="position-absolute cursor-pointer" type="file"
                                       style="opacity: 0; top: 0; bottom: 0; left: 0; right: 0;">
                            </div>
                        </div>
                    </div>
                    <div class="ms-3">
                        <h5><b>Logo 1</b></h5>
                        <span>Logo hiển trị trên thanh header</span>
                    </div>
                </div>
                <div class="col d-flex align-items-center ms-2"
                     style="height: 125px;border: 1px solid rgb(235,230,230); border-radius: 8px">
                    <div class="position-relative">
                        <img src="../../static/thiethv/images/Logo.png" alt="logo1"
                             style="height: 110px;border-radius: 50%;border: 1px solid rgb(235,230,230);">
                        <div class="position-absolute" style="background-color: #cccc;height: 25px;width: 25px;
                        bottom: 5px;right: 5px;border-radius: 50%;">
                            <div class="position-relative d-flex justify-content-center align-items-center">
                                <i class="bi bi-camera-fill"></i>
                                <input class="position-absolute cursor-pointer" type="file"
                                       style="opacity: 0; top: 0; bottom: 0; left: 0; right: 0;">
                            </div>
                        </div>
                    </div>
                    <div class="ms-3">
                        <h5><b>Logo 2</b></h5>
                        <span>Logo hiển trị trên thanh header</span>
                    </div>
                </div>
                <div class="col-12">
                    <label>Center</label>
                    <input @change="handlerChangeInitMap" type="text" class="form-control"
                           placeholder="21.016938,105.842252">
                </div>
                <div class="col-4">
                    <label>L</label>
                    <input class="form-control" placeholder="...">
                </div>
                <div class="col-4">
                    <label>L</label>
                    <input class="form-control" placeholder="...">
                </div>
                <div class="col-4">
                    <label>L</label>
                    <input class="form-control" placeholder="...">
                </div>
            </div>
        </div>
        <div class="col-xl-5">
            <div class="my-4" style="height: 550px;">
                <map-iotlink ref="map4d"></map-iotlink>
            </div>
        </div>
    </div>
    <div class="position-relative w-100" style="height: 750px;">
        <div class="position-absolute p-2 d-none d-xl-block"
             style="width: 220px; background-color: #fff;box-shadow: 2px -2px 2px 0px #ccc; top: 0; bottom: 0; left: 0; overflow-y: scroll;">
            <ul>
                <a href="">
                    <li class="d-flex align-items-center" style="height: 40px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z"/>
                            <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"/>
                        </svg>
                        Trang chủ
                    </li>
                </a>
                <a href="">
                    <li class="d-flex align-items-center" style="height: 40px;">Quản lý địa điểm</li>
                </a>
                <a href="">
                    <li class="d-flex align-items-center" style="height: 40px;">Quản lý đối tượng</li>
                </a>
            </ul>
        </div>
        <div class="position-absolute p-2 d-none d-md-block d-xl-none"
             style="width: 72px; background-color: #fff;box-shadow: 2px -2px 2px 0px #ccc; top: 0; bottom: 0; left: 0;">
            <ul class="h-100 w-100">
                <a href="">
                    <li>Icon</li>
                </a>
                <a href="">
                    <li>Icon</li>
                </a>
                <a href="">
                    <li>Icon</li>
                </a>
            </ul>
        </div>
        <div class="position-absolute p-2 d-flex d-md-none"
             style="height: 56px; background-color: #fff;box-shadow: 0 -2px 2px -2px #ccc;bottom: 0;left: 0; right: 0;">
            <ul class="row h-100 w-100">
                <a class="col" href="">
                    <li>Icon</li>
                </a>
                <a class="col" href="">
                    <li>Icon</li>
                </a>
                <a class="col" href="">
                    <li>Icon</li>
                </a>
            </ul>
        </div>
    </div>
    <div style="height: 220px">
        <key-search :api="'http://atk.gishub.vn/api/object/'"></key-search>
    </div>
    <div style="height: 500px; background-color: #fff;" class="position-relative">
        <side-bar-fb></side-bar-fb>
    </div>
    <div class="p-5" style="height: 500px;">
        <input-text @change="handlerChange" :validation="true" :placeholder="'Nhập tên...'"
                    :label="'Tên :'"></input-text>
        <input-text @change="handlerChange" :type="'number'" :validation="true" :label="'number :'"></input-text>
        <input-text @change="handlerChange" :validation="true" :type="'file'" :placeholder="'Nhập tên...'"
                    :label="'file :'"></input-text>
        <input-text @change="handlerChange" :validation="true" :type="'email'" :placeholder="'Nhập email...'"
                    :label="'email :'"></input-text>
        <input-text @change="handlerChange" :validation="true" :type="'password'" :placeholder="'Nhập password...'"
                    :label="'password :'"></input-text>
    </div>
    <div class="container">
        <div class="my-4 w-100 d-flex justify-content-center">
            <div class="d-flex w-100" style="max-width: 1100px;">
                <img class="mx-2" src="../../static/thiethv/images/Logo.png" style="height: 70px;">
                <div class="ms-3"><h5 style="font-weight: bold;">CƠ SỞ DỮ LIỆU TOÁN HỌC VIET NAM</h5> <h6
                        style="font-weight: bold;">
                    VIETNAM MATHEMATICAL DATABASE</h6></div>
            </div>
        </div>
        <div class="d-flex justify-content-center w-100">
            <home-book></home-book>
        </div>
        <div class="mt-4 d-flex justify-content-center w-100">
            <div class="p-3 mx-4"
                 style="background-color: #fee2bf; max-width: 1100px;border-radius: 25px;border: 1px solid #ae8d69;">
                The AMS is developing a new user interface for MathSciNet. A beta version is available at <a
                    href="https://beta.mathscinet.ams.org/mathscinet/beta">https://beta.mathscinet.ams.org/mathscinet/beta</a>.
                Please give it a try. If you have any comments, we would be glad to hear from you via <a
                    href="mailto:msn-beta@ams.org">msn-beta@ams.org</a>.
            </div>
        </div>
        <div class="mt-1 d-flex justify-content-center w-100">
            <div class="p-3 mx-4"
                 style="background-color: #fee2bf; max-width: 1100px;border-radius: 25px;border: 1px solid #ae8d69;">
                The IMS and ASA have transferred the data from the <b>Current Index to Statistics (CIS)</b> to the
                AMS. The data, with a new search interface, is available from the MathSciNet servers at the URL <a
                    href="https://mathscinet.ams.org/cis">https://mathscinet.ams.org/cis</a>.
            </div>
        </div>
    </div>
</div>
<!-- import map -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
<script src="https://api.map4d.vn/sdk/map/js?version=2.4&key=fda0ef247812a0f208b654c89a8f9308"></script>
<script type="module" src="{% static 'thiethv/js/app.js' %}"></script>
<script rel="preload" src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
</body>
</html>