<header>
  <div class="header__container">
    <p></p>
    <ul>
      <li>Home</li>
      <li>About me</li>
      <li>Pricing</li>
      <li>Contact</li>
    </ul>
  </div>
</header>

<div class="flex-between swipper__container">
  <div class="swipper__content-taopham">
    <h3>Tạo</h3>
    <h3>Phạm</h3>
    <p>
      Design is more than aesthetics and appearance It can be easy to think of
      design as only styling, fashion or the appearance of objects. You only
      have to look at the variety of similar products in shops to see that some
      design products have an obvious focus on appearance. External variations
      in kitchen appliance design often take place without actually changing the
      underlying product, in order to remain up to date or fashionable, or to
      fit in with other market drivers
    </p>
  </div>
  <div class="swipper__avatr-taopham flex-center">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-tQfZJ3U2h2CwNaVtNkbzGLvXDF7CprR3iXPzT3UtwlYy_6nujWjkNPzvykrfA9v_SAU&usqp=CAU"
      alt=""
    />
  </div>
</div>

<div class="albums__container">
  <div class="flex-between" style="gap: 10px">
    <div class="albums__col-50 text-center">Logo</div>
    <div class="albums__col-50 text-center">Brandimg</div>
  </div>
  <div class="flex-between" style="gap: 10px">
    <div class="albums__col-25 text-center">Socail</div>
    <div class="albums__col-75 flex-between" style="gap: 10px">
      <div class="albums__col-50 text-center">Website</div>
      <div class="albums__col-50 text-center">Illustrator</div>
    </div>
  </div>
</div>

<div class="px-3">
  <div>
    <!-- Introduction -->
    <div class="d-flex align-items-center justify-content-center gap-3">
      <hr class="flex-grow-1" />
      <div
        class="d-inline-flex flex-column justify-content-center align-items-center"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="1em"
          viewBox="0 0 512 512"
        >
          <path
            d="M272 96c-78.6 0-145.1 51.5-167.7 122.5c33.6-17 71.5-26.5 111.7-26.5h88c8.8 0 16 7.2 16 16s-7.2 16-16 16H288 216s0 0 0 0c-16.6 0-32.7 1.9-48.2 5.4c-25.9 5.9-50 16.4-71.4 30.7c0 0 0 0 0 0C38.3 298.8 0 364.9 0 440v16c0 13.3 10.7 24 24 24s24-10.7 24-24V440c0-48.7 20.7-92.5 53.8-123.2C121.6 392.3 190.3 448 272 448l1 0c132.1-.7 239-130.9 239-291.4c0-42.6-7.5-83.1-21.1-119.6c-2.6-6.9-12.7-6.6-16.2-.1C455.9 72.1 418.7 96 376 96L272 96z"
          />
        </svg>
        <span>Introduction</span>
      </div>
      <hr class="flex-grow-1" />
    </div>

    <ul class="d-flex ">
      <li></li>
    </ul>
  </div>
</div>
